<h1>Settings</h1>
<br/>
<ul>
  <li><b><%= link_to 'Contact No', contact_path %></b></li>
  <li><b><%= link_to 'Payment Summary', summary_path %></b></li>
  <li><b><%= link_to 'Payment Report', report_path %></b></li>
  <li><b><%= link_to 'Spend Analysis', analysis_path %></b></li>
</ul>
<br/>

