<h1>Verify Mobile No</h1>
<div>
    <form name="phone_form" action="/verify_phone" method="get">
	<input id="verify_no" autocomplete="off" type="text" placeholder="Verification Code" name="verify_no" size="10" />
	<input id="phone_button" type="submit" value="Submit" />
    </form>
<p>Status : Not verified</p>
</div>
