<html>
  <head>

  </head>
  <body>
    <h1>Spending Analysis - By Bill</h1>
    <div id="chart_div1" style="width: 900px; height: 500px;text-align:center;margin-top: 100px;">
      <img src="<%= @chart_url %> " />
    </div>

  </body>
</html>